<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New post</title>
  </head>
  <body>
    <h1>Add new Post</h1>
    <form action="/posts" method="post">
      <input type="text" placeholder="User name" name="username" />
      <br />
      <br />
      <textarea name="content" placeholder="Add content"></textarea><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
